<div id="flashMessage">
    {{#if messages.error}}
        <div class="alert alertDanger">{{messages.error}}</div>
    {{else}}
        <div class="alert alertSuccess">{{messages.success}}</div>
    {{/if}}
</div>

