
<head>
    <title>CSC 317 App - {{title}}</title>
    <link rel="icon" href="/public/favicon.ico" sizes="70x70" type="image/ico">
    <link rel='stylesheet' href='/public/css/style.css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

{{#if (nonEmptyObject messages)}}
        {{> flashmessages}}
{{/if}}

    <section><header class="headerStyling"><b>{{head}}</b></header></section>

    {{> nav}}


    <br><br>
    {{{body}}}
    <br><br>

    <footer class="footerStyling">©2022 Adan Matute</footer>

</body>

{{#if isLoggedIn}}
    <script>
        document.getElementById("logoutButton").addEventListener('click', function(e) {
            fetch('/users/logout', {method: 'POST'})
                    .then(response => response.json())
                    .then(function (res_json) {
                        console.log(res_json);
                        window.location.replace('/')
                    })
                    .catch(err => console.log(err))
        })
    </script>
{{else}}

{{/if}}
