<div>
    <div id="indexCardDivAll">
        <div id="indexCardDiv">
            {{#each results}}
                <div class="cards">
                    <img class="imageScaling" src="/{{this.thumbnail}}">
                    <p class="indexBlockTexts">{{this.title}}</p>
                    <!--<p class="indexBlockTexts">{{this.description}}</p>-->
                    <a href="/posts/{{this.id}}">details</a>
                </div>
            {{/each}}
        </div>
    </div>
</div>
