<main>
    <form class="formStuff"
          method="post"
          action="/users/login"
          enctype="application/x-www-form-urlencoded">
        <label class="formLayout">
            <span class="formText">Username</span>
            <input class="inputBoxes"
                   required
                   placeholder="Username"
                   name="username">
        </label>
        <br>
        <label class="formLayout">
            <span class="formText">Password</span>
            <input class="inputBoxes"
                   type="password"
                   required
                   placeholder="Password"
                   name="password">
        </label>
        <br>
        <button class="submitButtons" type="submit"> submit </button>
    </form>
</main>
