<script defer type="text/javascript" src="public/js/registrationScript.js"></script>

<main>
    <form class="formStuff"
          method="POST" action="/users/registration"
          enctype="application/x-www-form-urlencoded">
        <label class="formLayout">
            <span class="formText">Username</span>
            <input
                id="username"
                class="inputBoxes"
                type="text"
                required
                placeholder="Username"
                name="username"
                maxlength="64">
        </label>
        <div id="usernameRequirements"
             class="registrationChecksStyle">
            <div id="usernameCapitals">Capital first</div>
            <div id="usernameLength">3 characters</div>
            <div id="usernameAlphanumerical">Numbers/Letters</div>
        </div>
        <br>
        <label class="formLayout">
            <span class="formText">Email</span>
            <input class="inputBoxes"
                   type="email"
                   required
                   placeholder="Email"
                   name="email"
                   maxlength="128">
        </label>
        <br><br>
        <label class="formLayout">
            <span class="formText">Password</span>
            <input id="password" class="inputBoxes"
                   type="password"
                   required
                   placeholder="Password"
                   name="password"
                   maxlength="225">
        </label>
        <div id="passwordRequirements"
             class="registrationChecksStyle">
            <div id="passwordLength">8 characters</div>
            <div id="passwordCaps">1 capital</div>
            <div id="passwordNumbers">1 number</div>
            <div id="passwordSpecial">1 special character</div>
        </div>
        <br>
        <label class="formLayout">
            <span class="formText">Password Confirmation</span>
            <input id="passwordConfirm"
                   class="inputBoxes"
                   type="password"
                   required
                   placeholder="Password Confirmation"
                   name="cpassword"></label>
        <div id="passwordConfirmationRequirements"
             class="registrationChecksStyle">
            <div id="passwordMatch">passwords match</div>
        </div>
        <br><br>
        <label><input class="checker" type="checkbox" required> I am 13+ years of age</label><br><br>
        <label><input class="checker" type="checkbox" required> I agree with the <a href="">TOS and Privacy Rules</a></label><br><br>
        <button type="submit" id="submit" class="submitButtons">submit</button>
        <br>
    </form>
</main>

