<script defer type="text/javascript" src="public/js/viewpostScript.js"></script>

<main id="postsMain">
    <section class="imageSection">
        <b>Jellyfish</b> - Joey <br><br>
        <img class="imageScaling" src="../public/images/jellyfish2.png" alt="jellyfish">
        <br>Jellyfish Swimming<br>
        <i>09/05/2022</i> <br>
    </section>
    <div id="commentDiv"></div>
</main>

